<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue-tutorial-6</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>

        <!-- in 대신에 of를 구분자로 사용할 수 있음 -->
        <li v-for="item of items">
            of : {{ item.message }}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <ul id="example-3">
        <li v-for="value in object">
            {{ value }}
        </li>

        <li v-for="(value, key) in object">
            {{ key }} : {{ value }}
        </li>

        <li v-for="(value, key, index) in object">
            {{ index }} : {{ key }} : {{ value }}
        </li>
    </ul>

    <ul id="example-4">
        <div v-for="obj in object">
            <li v-for="(value, key) in obj">
                {{ key }} : {{ value }}
            </li>
        </div>
    </ul>

    <ul id="example-5">
        <li v-for="item in items" :key="item.id">
            {{ item.msg }}
        </li>
    </ul>

    <ul id="example-6">
        <li v-for="value in userProfile">
            {{ value }}
        </li>
    </ul>

    <ul id="example-7">
        <li v-for="n in evenNumbers">
            {{ n }}
        </li>

        <li v-for="n in 10">
            숫자 for : {{ n }}
        </li>
    </ul>

    <ul id="example-8">
        <template v-for="item in items">
            <li>{{ item.msg }}</li>
            <li>hi!</li>
        </template>
    </ul>

    <ul id="example-9">
        <li v-for="todo in todos" v-if="!todo.isComplete">
            {{ todo.name }}
        </li>
    </ul>

    <ul id="example-10">
        <template v-if="todos.length">
            <li v-for="todo in todos">
                {{ todo.name }}
            </li>
        </template>
        <template v-else>
            No todos left!
        </template>
    </ul>

    <hr>
    <h3>컴포넌트</h3>

    <my-component
        v-for="(item, index) in items"
        v-bind:item="item"
        v-bind:index="index"
        v-bind:key="item.id"
    >
    </my-component>

    <div id="todo-list-example">
        <input
            v-model="newTodoText"
            v-on:keyup.enter="addNewTodo"
            placeholder="Add a todo"
        >
        <ul>
            <li
                is="todo-item"
                v-for="(todo, index) in todos"
                v-bind:key="todo.id"
                v-bind:title="todo.title"
                v-on:remove="todos.splice(index, 1)"
            ></li>
        </ul>
    </div>

    <script src="main.js"></script>
</body>
</html>